<ion-header
  class="ion-bo-border shadow fixed"
  [ngClass]="[isHeaderVisible ? 'fixed-top' : 'above-top']"
  position="fixed"
>
  <ion-toolbar class="ion-bg-white">
    <ion-buttons slot="start" class="p-2" mode="ios">
      <ion-back-button defaultHref="/tabs" color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title class="text-lg font-bold text-center">
      {{ dataAsset?.assetNumber }}
    </ion-title>
    <!-- <ion-buttons slot="end" class="p-2" mode="ios">
      <ion-button color="danger" (click)="confirmDelete()">
        <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true" (ionScroll)="onScroll($event)">
  
  <div *ngIf="loaded === true" >
    <ion-header class="ion-no-border">
      <ion-toolbar class="ion-bg-white">
        <ion-buttons slot="start" class="p-2" mode="ios">
          <ion-back-button defaultHref="/tabs" color="primary"></ion-back-button>
        </ion-buttons>
        <!-- <ion-buttons slot="end" class="p-2" mode="ios">
          <ion-button id="present-alert" color="danger" (click)="confirmDelete()">
            <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
          </ion-button>
        </ion-buttons> -->
      </ion-toolbar>
    </ion-header>
    <div class="pl-6">
      <h4 class="text-2xl font-bold">{{ dataAsset?.assetNumber }}</h4>
    </div>
    <ion-item *ngIf="dataAsset?.photo" lines="none">
      <ion-label>
        <img
          class="w-48 max-w-full m-auto rounded-btn"
          [src]="dataAsset?.photo"
          alt="Asset Info"
          onerror="this.src='assets/img/empty.jpg'"
        />
        <!-- (click)="showImageViewer($event)" -->
      </ion-label>
    </ion-item>
    <div class="p-4 mt-6">
      <div class="border border-gray-400 rounded-box overflow-hidden">
        <ion-item class="dark:ion-border-gray-600" button [detail]="false">
          <p class="text-base font-semibold">Jenis Asset</p>
          <ion-note class="text-base text-gray-500" slot="end"
            >{{ dataAsset?.assetCategoryName }}</ion-note
          >
        </ion-item>
        <ion-item class="dark:ion-border-gray-600" button [detail]="false">
          <p class="text-base font-semibold">Nomor Asset</p>
          <ion-note class="text-base text-gray-500" slot="end"
            >{{ dataAsset?.assetNumber }}</ion-note
          >
        </ion-item>
        <ion-item class="dark:ion-border-gray-600" button [detail]="false">
          <p class="text-base font-semibold">Tanggal Pengadaan</p>
          <ion-note class="text-base text-gray-500" slot="end"
            >{{ dataAsset?.supplyDate }}</ion-note
          >
        </ion-item>
        <ion-item class="dark:ion-border-gray-600" button [detail]="false">
          <p class="text-base font-semibold">Tipe Schedule</p>
          <ion-badge color="primary" mode="ios" slot="end"
            >{{ dataAsset?.schType }}</ion-badge
          >
        </ion-item>
        <ion-item class="dark:ion-border-gray-600" button [detail]="false">
          <p class="text-base font-semibold">Jadwal Scan</p>
          <ion-note class="text-base text-gray-500" slot="end"
            >{{ dataAsset?.scheduleFrom }}</ion-note
          >
        </ion-item>
        <ion-item class="dark:ion-border-gray-600" button [detail]="false">
          <p class="text-base font-semibold">Asset Status</p>
          <ion-note class="text-base text-gray-500" slot="end"
            >{{ dataAsset?.assetStatusName }}</ion-note
          >
        </ion-item>
        <ion-item class="dark:ion-border-gray-600" button [detail]="false">
          <p class="text-base font-semibold">Unit</p>
          <ion-note class="text-base text-gray-500" slot="end"
            >{{ dataAsset?.unit }}</ion-note
          >
        </ion-item>
        <ion-item class="dark:ion-border-gray-600" button [detail]="false">
          <p class="text-base font-semibold">Area</p>
          <ion-note class="text-base text-gray-500" slot="end"
            >{{ dataAsset?.area }}</ion-note
          >
        </ion-item>
        <ion-item class="dark:ion-border-gray-600" button [detail]="false">
          <p class="text-base font-semibold">Tanggal Upload</p>
          <ion-note class="text-base text-gray-500" slot="end"
            >{{ dataAsset?.scannedEnd }}</ion-note
          >
        </ion-item>

        <ion-item
          class="dark:ion-border-gray-600"
          lines="none"
          button
          [detail]="false"
        >
          <p class="text-base font-semibold">Status Upload</p>
          <ion-badge
            [color]="dataAsset?.isUploaded == true ? 'success' : 'warning'"
            mode="ios"
            slot="end"
            >{{ dataAsset?.isUploaded == true ? 'Terupload' : 'Pending'
            }}</ion-badge
          >
        </ion-item>
      </div>
    </div>
    <ion-grid class="w-full p-2">
      <ion-row class="justify-center">
        <ion-accordion-group expand="inset" *ngIf="dataParameter">
          <ion-accordion
            [value]="item?.assetId"
            toggleIcon="chevron-down-circle"
            *ngFor="let item of dataParameter.parameter"
          >
            <ion-item slot="header" class="accordion w-screen px-4">
              <p class="text-base font-semibold">{{ item?.parameterName }}</p>
            </ion-item>
            <div class="ion-no-padding" slot="content">
              <ion-row>
                <ion-col size="12" sizeSm="6" sizeXl="4">
                  <div
                    class="w-full p-4 bg-white border border-gray-300 rounded-xl"
                  >
                    <ion-list>
                      <ion-item>
                        <ion-label>Status</ion-label>
                        <ion-badge
                          [color]="dataAsset?.isUploaded == 1 ? 'success' : 'danger'"
                          mode="ios"
                          slot="end"
                        >
                          {{ dataAsset?.isUploaded == '1' ? 'Sudah Di Upload' : 'Belum Di Upload' }}
                        </ion-badge>
                      </ion-item>
                      <ion-item class="text-xs">
                        <ion-label>Deskripsi</ion-label>
                        <ion-input
                          class="text-right"
                          readonly
                          [value]="item?.description"
                        ></ion-input>
                      </ion-item>
                      <ion-item class="text-xs">
                        <ion-label>Kondisi</ion-label>
                        <ion-input
                          class="text-right"
                          readonly
                          [value]="item?.condition"
                        ></ion-input>
                      </ion-item>
                      <ion-item class="text-xs">
                        <ion-label>Scan</ion-label>
                        <ion-input
                          class="text-right"
                          readonly
                          [value]="item?.scannedWith"
                        ></ion-input>
                      </ion-item>
                      <ion-item class="text-xs">
                        <ion-label>Petugas</ion-label>
                        <ion-input
                          class="text-right"
                          readonly
                          [value]="item?.scannedBy"
                        ></ion-input>
                      </ion-item>
                      <ion-item class="text-xs">
                        <ion-label>Value</ion-label>
                        <ion-input
                          class="text-right"
                          readonly
                          [value]="item?.value"
                        ></ion-input>
                      </ion-item>
                    </ion-list>
                  </div>
                </ion-col>
              </ion-row>
            </div>
          </ion-accordion>
        </ion-accordion-group>
      </ion-row>
    </ion-grid>
  </div>


  <div id="skeleton" *ngIf="loaded === false">
    <ion-header class="ion-no-border">
      <ion-toolbar class="ion-bg-white">
        <ion-buttons slot="start" class="p-2" mode="ios">
          <ion-back-button defaultHref="/tabs" color="primary"></ion-back-button>
        </ion-buttons>
        <!-- <ion-buttons slot="end" class="p-2" mode="ios">
          <ion-button id="present-alert" color="danger" (click)="confirmDelete()">
            <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
          </ion-button>
        </ion-buttons> -->
      </ion-toolbar>
    </ion-header>
    <div class="pl-6">
      <h4 class="text-2xl font-bold">
        <ion-skeleton-text [animated]="true" style="width: 200px;height:20px"></ion-skeleton-text>
      
      </h4>
     
    </div>
    <ion-item *ngIf="dataAsset?.photo" lines="none">
      <ion-skeleton-text [animated]="true" style="width: 80px"></ion-skeleton-text>
    </ion-item>
    <div class="p-4 mt-6">
      <div class="border border-gray-400 rounded-box overflow-hidden">
        <ion-item class="dark:ion-border-gray-600" button [detail]="false">
          <p class="text-base font-semibold"><ion-skeleton-text [animated]="true" style="width: 80px"></ion-skeleton-text></p>
          <ion-note class="text-base text-gray-500" slot="end"
            ><ion-skeleton-text [animated]="true" style="width: 80px"></ion-skeleton-text></ion-note
          >
        </ion-item>
        <ion-item class="dark:ion-border-gray-600" button [detail]="false">
          <p class="text-base font-semibold"><ion-skeleton-text [animated]="true" style="width: 80px"></ion-skeleton-text></p>
          <ion-note class="text-base text-gray-500" slot="end"
            ><ion-skeleton-text [animated]="true" style="width: 80px"></ion-skeleton-text></ion-note
          >
        </ion-item>
        <ion-item class="dark:ion-border-gray-600" button [detail]="false">
          <p class="text-base font-semibold"><ion-skeleton-text [animated]="true" style="width: 80px"></ion-skeleton-text></p>
          <ion-note class="text-base text-gray-500" slot="end"
            ><ion-skeleton-text [animated]="true" style="width: 80px"></ion-skeleton-text></ion-note
          >
        </ion-item>        
        <ion-item class="dark:ion-border-gray-600" button [detail]="false">
          <p class="text-base font-semibold"><ion-skeleton-text [animated]="true" style="width: 80px"></ion-skeleton-text></p>
          <ion-note class="text-base text-gray-500" slot="end"
            ><ion-skeleton-text [animated]="true" style="width: 80px"></ion-skeleton-text></ion-note
          >
        </ion-item>
              
        <ion-item class="dark:ion-border-gray-600" button [detail]="false">
          <p class="text-base font-semibold"><ion-skeleton-text [animated]="true" style="width: 80px"></ion-skeleton-text></p>
          <ion-note class="text-base text-gray-500" slot="end"
            ><ion-skeleton-text [animated]="true" style="width: 80px"></ion-skeleton-text></ion-note
          >
        </ion-item>      
        <ion-item class="dark:ion-border-gray-600" button [detail]="false">
          <p class="text-base font-semibold"><ion-skeleton-text [animated]="true" style="width: 80px"></ion-skeleton-text></p>
          <ion-note class="text-base text-gray-500" slot="end"
            ><ion-skeleton-text [animated]="true" style="width: 80px"></ion-skeleton-text></ion-note
          >
        </ion-item>      
        <ion-item class="dark:ion-border-gray-600" button [detail]="false">
          <p class="text-base font-semibold"><ion-skeleton-text [animated]="true" style="width: 80px"></ion-skeleton-text></p>
          <ion-note class="text-base text-gray-500" slot="end"
            ><ion-skeleton-text [animated]="true" style="width: 80px"></ion-skeleton-text></ion-note
          >
        </ion-item>
             
        <ion-item class="dark:ion-border-gray-600" button [detail]="false">
          <p class="text-base font-semibold"><ion-skeleton-text [animated]="true" style="width: 80px"></ion-skeleton-text></p>
          <ion-note class="text-base text-gray-500" slot="end"
            ><ion-skeleton-text [animated]="true" style="width: 80px"></ion-skeleton-text></ion-note
          >
        </ion-item>      
        <ion-item class="dark:ion-border-gray-600" button [detail]="false">
          <p class="text-base font-semibold"><ion-skeleton-text [animated]="true" style="width: 80px"></ion-skeleton-text></p>
          <ion-note class="text-base text-gray-500" slot="end"
            ><ion-skeleton-text [animated]="true" style="width: 80px"></ion-skeleton-text></ion-note
          >
        </ion-item>
        
        <ion-item class="dark:ion-border-gray-600" button [detail]="false">
          <p class="text-base font-semibold"><ion-skeleton-text [animated]="true" style="width: 80px"></ion-skeleton-text></p>
          <ion-note class="text-base text-gray-500" slot="end"
            ><ion-skeleton-text [animated]="true" style="width: 80px"></ion-skeleton-text></ion-note
          >
        </ion-item>
      </div>
    </div>
    <ion-grid class="w-full p-2">
      <ion-row class="justify-center">
        <ion-accordion-group expand="inset" *ngIf="dataParameter">
          <ion-accordion
            [value]="item?.assetId"
            toggleIcon="chevron-down-circle"
            *ngFor="let item of dataParameter.parameter"
          >
            <ion-item slot="header" class="accordion w-screen px-4">
              <p class="text-base font-semibold">  
                <ion-skeleton-text [animated]="true" style="width: 200px;height:20px"></ion-skeleton-text>
              </p>
            </ion-item>
            
          </ion-accordion>
        </ion-accordion-group>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
