<ion-header class="ion-no-border shadow fixed" [ngClass]="[isHeaderVisible ? 'fixed-top' : 'above-top']"
  position="fixed">
  <ion-toolbar class="dark:ion-base-gray-800" color="primary">
    <ion-buttons slot="start" class="p-2" mode="ios">
      <ion-back-button defaultHref="/tabs" icon="chevron-back"></ion-back-button>
    </ion-buttons>

    <ion-title class="text-lg font-bold text-center text-white">
      Transactions
    </ion-title>
  </ion-toolbar>

  <ion-toolbar class="dark:ion-base-gray-800" color="primary">
    <ion-segment class="W-full bg-primary" [value]="segment" (ionChange)="onSegmentChanged($event)">
      <!-- <ion-segment-button class="font-bold uppercase expanded" value="holded">Holded</ion-segment-button> -->
      <ion-segment-button  *ngIf="jumlahUnuploaded >= 0" class="font-bold capitalize " value="unuploaded">
        <div class="bg-transparent">
          <ion-label class="tracking-normal">Belum Laporan </ion-label>
          <ion-badge color="danger" class="align-middle">{{jumlahUnuploaded}}</ion-badge>
        </div>
      </ion-segment-button>
      <ion-segment-button  *ngIf="jumlahUploaded >= 0" class="font-bold capitalize " value="uploaded">
        <div class="bg-transparent">
          <ion-label class="tracking-normal">Sudah Laporan </ion-label>
          <ion-badge color="success" class="align-middle">{{jumlahUploaded}}</ion-badge>
        </div>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true" (ionScroll)="onScroll($event)">
  <ion-header class="ion-no-border">
    <ion-toolbar class="ion-bg-white">
      <ion-buttons slot="start" class="p-2" mode="ios">
        <ion-back-button defaultHref="/tabs" icon="chevron-back" color="primary"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <div class="pl-6">
    <h4 class="text-2xl font-bold">Transactions</h4>
  </div>
  <div class="py-4">
    <ion-toolbar class="dark:ion-base-gray-800 ion-bg-white">
      <ion-segment class="w-11/12" [value]="segment" (ionChange)="onSegmentChanged($event)">
        <!-- <ion-segment-button class="font-bold uppercase" value="holded">Holded</ion-segment-button> -->
        <ion-segment-button  *ngIf="jumlahUnuploaded >= 0" class="font-bold capitalize" value="unuploaded">
          <div class="bg-transparent">
            <ion-label class="tracking-normal">Belum Laporan </ion-label>
            <ion-badge color="danger" class="align-middle">{{jumlahUnuploaded}}</ion-badge>
          </div>
        </ion-segment-button>
        <ion-segment-button  *ngIf="jumlahUploaded >= 0" class="font-bold capitalize" value="uploaded">
          <div class="bg-transparent">
            <ion-label class="tracking-normal">Sudah Laporan </ion-label>
            <ion-badge color="success" class="align-middle">{{jumlahUploaded}}</ion-badge>
          </div>
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </div>

  <ion-refresher slot="fixed" mode="md" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <app-screen-view *ngIf="loading" type="loading" message="Loading data ..."></app-screen-view>

  <div *ngIf="!loading " class="w-full h-full bg-white dark:bg-gray-900">
    <ion-grid class="w-full p-2">
      <ion-row class="justify-center">
        <ion-col size="12" sizeLg="8">
          <ion-row>
            <ion-col size="12">
              <ion-searchbar class="p-2 ion-no-margin ion-no-padding text-xs" placeholder="Search ..." inputmode="text"
                type="text" mode="ios" (ionChange)="onSearch($event)"></ion-searchbar>
            </ion-col>
          </ion-row>


          <app-screen-view *ngIf="!loading && !schedules?.length" type="no-data" message="Data Kosong"
          description="Synchronize with server to get data"></app-screen-view>
          <ion-accordion-group expand="inset" *ngIf="schedules.length">
            <ion-accordion [value]="item?.assetId" toggleIcon="chevron-down-circle" *ngFor="let item of schedules">
              <ion-item slot="header" class="accordion">
                <p class="text-base font-semibold">{{ item?.assetNumber }}</p>
              </ion-item>
              <div class="ion-no-padding" slot="content">
                <ion-row>
                  <ion-col size="12" sizeSm="6" sizeXl="4">
                    <div class="w-full p-4 bg-white border border-gray-300 rounded-xl">
                      <ion-list>
                        <ion-item>
                          <ion-label>Status</ion-label>
                          <ion-badge [color]="segment === 'uploaded' ? 'success' : 'danger'" mode="ios" slot="end">
                            {{ segment === 'uploaded' ? 'Sudah Di Upload' : 'Belum Di Upload' }}
                          </ion-badge>
                        </ion-item>
                        <ion-item class="text-xs">
                          <ion-label>Type</ion-label>
                          <ion-input class="text-right" readonly [value]="item?.schType"></ion-input>
                        </ion-item>
                        <ion-item class="text-xs">
                          <ion-label>Jadwal</ion-label>
                          <ion-input class="text-right" readonly [value]="item?.scheduleFrom"></ion-input>
                        </ion-item>
                        <ion-item class="text-xs">
                          <button class="btn btn-sm btn-primary text-white btn-block rounded-lg space-x-1 focus:outline-none" (click)="openDetail(item)">
                            <p class="text-xs font-medium capitalize">Detail Transaksi</p>
                            <ion-icon name="chevron-forward-outline"></ion-icon>
                          </button>
                        </ion-item>
                        <!-- <ion-item class="text-xs">
                          <button class="btn btn-sm btn-success text-white btn-block rounded-lg space-x-1 focus:outline-none" (click)="uploadDetail(item?.scheduleTrxId)">
                            <p class="text-xs font-medium capitalize">Upload</p>
                            <ion-icon name="cloud-upload"></ion-icon>
                          </button>
                        </ion-item> -->
                      </ion-list>
                    </div>
                  </ion-col>
                </ion-row>
              </div>
            </ion-accordion>
          </ion-accordion-group>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <!-- *ngIf="laporan?.reportDate === null" -->
  
  <ion-fab  *ngIf="schedules?.length && segment === 'unuploaded'" slot="fixed" vertical="bottom" horizontal="end" (click)="uploadData()">
    <ion-fab-button>
      <ion-icon name="cloud-upload"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-infinite-scroll *ngIf="!loading && schedules?.length" (ionInfinite)="pushData($event)">
    <ion-infinite-scroll-content class="bg-white dark:bg-gray-900" loadingSpinner="dots"></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
