<ion-header class="ion-no-border shadow fixed transition-none"
  [ngClass]="[isHeaderVisible ? 'fixed-top' : 'above-top']">
  <ion-toolbar class="ion-bg-white">
    <ion-buttons slot="start" class="p-2" mode="ios" >
      <ion-back-button defaultHref="/tabs" color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title class="text-lg font-bold text-center">Akun & Pengaturan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true" (ionScroll)="onScroll($event)">
    <div class="w-full flex flex-col pb-10">
      <ion-header class="ion-no-border">
        <ion-toolbar class="ion-bg-white">
          <ion-buttons slot="start" class="p-2" mode="ios">
            <ion-back-button defaultHref="/tabs" color="primary"></ion-back-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <div class="pl-6">
        <h4 class="text-2xl font-bold">Akun & Pengaturan</h4>
      </div>
    </div>

    <div *ngIf="isAuthenticated" class="p-4">
      <div class="border border-gray-300 rounded-box overflow-hidden">
        <div
          class="relative w-full p-4 flex items-center space-x-4 ion-activatable ripple-parent overflow-hidden cursor-pointer"
          (click)="openPage(['profile'])">
          <img class="profile-picture w-16 bg-primary rounded-full" src="assets/img/engineer.png" />

          <div class="flex-grow flex flex-col justify-center items-start space-y-1">
            <h2 class="text-lg font-semibold">{{ user?.name }}</h2>
            <p class="text-gray-500">{{ user?.email }}</p>
          </div>

          <ion-icon name="chevron-forward-outline" color="medium"></ion-icon>
          <ion-ripple-effect style="margin: 0 !important;"></ion-ripple-effect>
        </div>

        <ion-item class="dark:ion-border-gray-600" button [detail]="false" (click)="openPage(['activity-logs'])">
          <p class="text-lg font-semibold">Activity Logs</p>
          <ion-icon name="receipt-outline" slot="end" color="dark"></ion-icon>
        </ion-item>

        <ion-item button lines="none" [detail]="false" (click)="checkRecords()">
          <p class="text-lg font-semibold text-error">Logout</p>
          <ion-icon name="log-out-outline" slot="end" color="danger"></ion-icon>
        </ion-item>
      </div>
    </div>
    <ion-list mode="ios">
      <ion-list-header class="mb-2">
        <p class="text-2xl font-bold">Options</p>
      </ion-list-header>

      <ion-item lines="none">
        <ion-icon slot="start" name="text-outline"></ion-icon>
        <p class="text-lg font-semibold">Font Size</p>
      </ion-item>

      <ion-item>
        <ion-range [min]="7" [max]="13" [pin]="true" [snaps]="true"
          [pinFormatter]="textZoomFormatter"
          [(ngModel)]="textZoom" (ionChange)="onTextZoomChanged($event)">
        </ion-range>
      </ion-item>

      <ion-item lines="none">
        <ion-icon slot="start" name="image-outline"></ion-icon>
        <p class="text-lg font-semibold">Image Quality</p>
      </ion-item>

      <ion-item>
        <ion-range [min]="0" [max]="2" [pin]="true" [snaps]="true"
          [pinFormatter]="imageQualityFormatter"
          [(ngModel)]="imageQuality" (ionChange)="onImageQualityChanged($event)">
        </ion-range>
      </ion-item>

      <ion-item *ngIf="isAuthenticated" class="dark:ion-border-gray-600" button
        [detail]="true"
        (click)="openPage(['test-connection'])">
        <ion-icon name="globe-outline" slot="start" color="dark"></ion-icon>
        <p class="text-lg font-semibold">Test Connection</p>
      </ion-item>

      <ion-item class="dark:ion-border-gray-600" button [detail]="true"
        (click)="scanQrCode()">
        <ion-icon name="qr-code-outline" slot="start" color="dark"></ion-icon>
        <p class="text-lg font-semibold">QR Scanner</p>
      </ion-item>

      <ion-item class="dark:ion-border-gray-600 mb-6" button [detail]="true"
        (click)="openPage(['app-information'])">
        <ion-icon name="information-circle-outline" slot="start" color="dark"></ion-icon>
        <p class="text-lg font-semibold">App Information</p>
      </ion-item>
    </ion-list>
    <div class="mb-28"></div>
</ion-content>
