<ion-header mode="ios">
  <ion-toolbar class="ion-bg-white dark:ion-bg-gray-900">
    <ion-buttons slot="start" mode="md">
      <ion-back-button defaultHref="/assets" color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title class="text-lg font-semibold">Detail CCTV</ion-title>
    <ion-buttons slot="end">
      <ion-button id="modal-edit" (click)="getDataEditForms()">
        <ion-icon slot="start" name="create-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="w-full min-h-full bg-white dark:bg-gray-900">
    <div class="card">
      <h3 class="text-white">
        <ion-icon name="pricetag-outline"></ion-icon>
        {{ resultParam?.more.category.name }}
      </h3>
      <div *ngIf="resultParam?.photo?.length" class="text-center">
        <div class="pt-3 w-40 md:w-20 rounded-2xl mx-auto">
          <img [src]="setPrimary(resultParam.photo)" (click)="showImageViewer($event)" alt="Avatar user"
            class="mx-auto rounded-lg border-2 w-40 h-52" />
        </div>
      </div>
      <div *ngIf="!resultParam?.photo?.length" class="text-center">
        <div class="pt-3 w-40 md:w-20 rounded-2xl mx-auto">
          <img src="assets/img/empty.jpg" alt="Avatar user" class="mx-auto rounded-lg border-2" />
        </div>
      </div>

      <div class="w-full shadow-lg dark:bg-gray-800 rounded-3xl p-3 ">
        <ion-grid class="w-full space-y-4 text-white">
          <ion-row class="w-full rounded-3xl text-xs dark:ion-border-gray-600">
            <ion-col><ion-label>No {{ resultParam?.more?.category?.name }}</ion-label></ion-col>
            <ion-col>{{ resultParam?.assetNumber || '-' }}</ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid class="w-full space-y-4 text-white">
          <ion-row class="w-full rounded-3xl text-xs dark:ion-border-gray-600">
            <ion-col><ion-label>Type </ion-label></ion-col>
            <ion-col>{{ resultParam?.more?.type?.name || '-' }}</ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid class="w-full space-y-4 text-white" *ngFor="let jenis of resultParam?.assetForm">
          <ion-row class="w-full rounded-3xl text-xs dark:ion-border-gray-600">
            <ion-col><ion-label>{{ jenis?.formLabel }}</ion-label></ion-col>
            <ion-col>{{ jenis?.optionName || '-' }}</ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid class="w-full space-y-4 text-white">
          <ion-row class="w-full rounded-3xl text-xs dark:ion-border-gray-600">
            <ion-col><ion-label>Tanggal Scan Terakhir</ion-label></ion-col>
            <ion-col>{{ resultParam?.lastScannedAt || '-' }}</ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid class="w-full space-y-4 text-white">
          <ion-row class="w-full rounded-3xl text-xs dark:ion-border-gray-600">
            <ion-col><ion-label>Petugas Scan Terakhir</ion-label></ion-col>
            <ion-col>{{ resultParam?.lastScannedBy || '-' }}</ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid class="w-full space-y-4 text-white">
          <ion-row class="w-full rounded-3xl text-xs dark:ion-border-gray-600">
            <ion-col><ion-label>IP Address</ion-label></ion-col>
            <ion-col>{{ resultParam?.ipAddress || '-' }}</ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid class="w-full space-y-4 text-white">
          <ion-row class="w-full rounded-3xl text-xs dark:ion-border-gray-600">
            <ion-col><ion-label>Username</ion-label></ion-col>
            <ion-col>{{ resultParam?.username || '-' }}</ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid class="w-full space-y-4 text-white">
          <ion-row class="w-full rounded-3xl text-xs dark:ion-border-gray-600">
            <ion-col><ion-label>Password</ion-label></ion-col>
            <ion-col>{{ resultParam?.password || '-' }}</ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid class="w-full space-y-4 text-white">
          <ion-row class="w-full rounded-3xl text-xs dark:ion-border-gray-600">
            <ion-col><ion-label>Tgl Update Terakhir</ion-label></ion-col>
            <ion-col>-</ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
    <br>

    <div class="card mt-2">
      <div class="w-full shadow-lg dark:bg-gray-800 rounded-3xl p-3 ">
        <h3 class="text-white"><ion-icon name="location-outline"></ion-icon> Lokasi</h3>
        <ion-grid class="w-full space-y-4 text-white pt-2">
          <ion-row class="w-full rounded-3xl text-xs dark:ion-border-gray-600">
            <ion-col><ion-label>No TP/Lokasi</ion-label></ion-col>
            <ion-col>{{ resultParam?.more?.tag[0]?.tag_number || '-' }}</ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid class="w-full space-y-4 text-white">
          <ion-row class="w-full rounded-3xl text-xs dark:ion-border-gray-600">
            <ion-col><ion-label>Lokasi</ion-label></ion-col>
            <ion-col>{{ resultParam?.more?.tag[0]?.unit }} <br> {{ resultParam?.more.tag[0].area }} <br> {{
              resultParam?.more.tag[0].location }}</ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid class="w-full space-y-4 text-white">
          <ion-row class="w-full rounded-3xl text-xs dark:ion-border-gray-600">
            <ion-col><ion-label>Detail Lokasi</ion-label></ion-col>
            <ion-col>{{ resultParam?.more?.tag[0]?.detail_location || '-' }}</ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
    <br>

    <div class="card mt-2">
      <div class="w-full shadow-lg dark:bg-gray-800 rounded-3xl p-3 ">
        <h3 class="text-white pb-2"><ion-icon class="" name="unlink-outline"></ion-icon> Lainnya</h3>
        <ion-grid class="w-full space-y-4 text-white">
          <ion-row class="w-full rounded-3xl text-xs dark:ion-border-gray-600">
            <ion-col><ion-label>Status</ion-label></ion-col>
            <ion-col>{{ resultParam?.more?.status?.name || '-' }}</ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid class="w-full space-y-4 text-white">
          <ion-row class="w-full rounded-3xl text-xs dark:ion-border-gray-600">
            <ion-col><ion-label>Tanggal Pengadaan</ion-label></ion-col>
            <ion-col>{{ resultParam?.supplyDate || '-' }}</ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid class="w-full space-y-4 text-white">
          <ion-row class="w-full rounded-3xl text-xs dark:ion-border-gray-600">
            <ion-col><ion-label>Tanggal Expired</ion-label></ion-col>
            <ion-col>{{ resultParam?.expireDate || '-' }}</ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid *ngIf="resultParam?.schType" class="w-full space-y-4 text-white">
          <ion-row class="w-full rounded-3xl text-xs dark:ion-border-gray-600">
            <ion-col><ion-label>Type Pengecekan</ion-label></ion-col>
            <ion-col class="!capitalize">{{ utils.parseJson(resultParam?.schType) || '-' }}</ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
    <br>
  </div>

  <!-- Begin modal edit asset -->
  <ion-modal #modal trigger="modal-edit">
    <ng-template>
      <ion-header class="ion-no-border ion-no-shading">
        <ion-toolbar color="content">
          <ion-buttons slot="start">
            <ion-button fill="clear" color="danger" (click)="modal.dismiss()">Batal</ion-button>
          </ion-buttons>
          <ion-buttons slot="end">
            <ion-button color="primary" (click)="confirmSubmitForm(modal)">
              <ion-label class="!font-bold">Simpan</ion-label>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content color="content">
        <ion-grid>
          <ion-row class="my-2 px-2">
            <ion-col size="12" sizeMd="10" sizeLg="8" sizeXl="6">
              <div class="w-full">
                <h2 class="text-left text-lg font-semibold">
                  Edit Detail Asset
                </h2>
                <span class="text-sm font-semibold text-gray-500">
                  {{resultParam?.assetNumber}}
                </span>
              </div>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="dataFormDetailAsset.length">
            <ion-col size="12">
              <div *ngIf="resultParam?.photo?.length" class="justify-center items-center mb-10 px-2">
                <div class="pt-3 w-40 md:w-20 h-52 rounded-2xl mx-auto" #imageViewer>
                  <img [src]="setPrimary(resultParam.photo)" (click)="selectMedia()" alt="Avatar user"
                    class="mx-auto rounded-lg border-2 w-40 h-52" />
                </div>
              </div>
              <div *ngIf="!resultParam?.photo?.length" class="justify-center items-center mb-10 px-2">
                <div class="pt-3 w-40 md:w-20 h-52 rounded-2xl mx-auto" #imageViewer>
                  <img src="assets/img/empty.jpg" (click)="selectMedia()" alt="Avatar user"
                    class="mx-auto rounded-lg border-2 w-40 h-52" />
                </div>
              </div>
            </ion-col>
          </ion-row>

          <ion-row *ngIf="dataFormDetailAsset.length">
            <ion-chip color="primary" mode="ios">
              <ion-icon name="pricetag-outline"></ion-icon>
              <h3>{{ resultParam?.more.category.name }}</h3>
            </ion-chip>

            <ion-col size="12">
              <div class="px-2 py-1" *ngFor="let form of dataFormDetailAsset; index as idx">
                <div class="w-full bg-white border overflow-hidden rounded-xl" [ngClass]="[
                                    !form.value ? 'border-error' : 'border-gray-300'
                                  ]">
                  <div class="w-full p-3 pr-4 flex justify-between items-center space-x-2">
                    <div class="flex justify-start items-center space-x-2">
                      <div class="flex-grow flex flex-col justify-start items-start">
                        <p class="text-sm font-semibold">
                          {{form.formLabel}}
                        </p>
                      </div>
                    </div>

                    <ion-input *ngIf="form.formType === 'input' || form.formType === 'textarea'"
                      class="ion-no-padding min-w-12 flex-grow text-sm text-right" [ngClass]="[form.formId]"
                      [type]="form.formType === 'input' ? 'number' : 'text'" [(ngModel)]="form.value">
                    </ion-input>

                    <ion-select
                      *ngIf="form.formType === 'select' || form.formType === 'checkbox' || form.formType === 'radio'"
                      class="ion-no-padding min-w-12 flex-grow text-sm text-right" interface="alert"
                      [interfaceOptions]="{header: 'Pilih', mode: 'ios'}" placeholder="Pilih"
                      [multiple]="form.formType === 'checkbox'" [disabled]="form.disabled"
                      (ionChange)="idx === 0 ? fetchFormType($event) : idx === 1 ? fetchAdditionalData($event, form.formOption) : null"
                      [(ngModel)]="form.value" cancelText="Batal" okText="Pilih">
                      <ion-select-option *ngFor="let value of form.formOption" [value]="value.id">
                        {{value.optionName || value.type_name}}
                      </ion-select-option>
                    </ion-select>
                  </div>
                </div>
              </div>

              <div class="px-2 py-1">
                <div class="w-full bg-white border overflow-hidden rounded-xl" [ngClass]="[
                !asset.ipAddress ? 'border-error' : 'border-gray-300'
              ]">
                  <div class="w-full p-3 pr-4 flex justify-between items-center space-x-2">
                    <div class="flex justify-start items-center space-x-2">
                      <div class="flex-grow flex flex-col justify-start items-start">
                        <p class="text-sm font-semibold">
                          IP Address
                        </p>
                      </div>
                    </div>

                    <ion-input class="ion-no-padding min-w-12 flex-grow text-sm text-right" type="text"
                      placeholder="IP Address" [(ngModel)]="asset.ipAddress">
                    </ion-input>
                  </div>
                </div>
              </div>

              <div class="px-2 py-1">
                <div class="w-full bg-white border overflow-hidden rounded-xl" [ngClass]="[
                  !asset.username ? 'border-error' : 'border-gray-300'
                ]">
                  <div class="w-full p-3 pr-4 flex justify-between items-center space-x-2">
                    <div class="flex justify-start items-center space-x-2">
                      <div class="flex-grow flex flex-col justify-start items-start">
                        <p class="text-sm font-semibold">
                          Username
                        </p>
                      </div>
                    </div>

                    <ion-input class="ion-no-padding min-w-12 flex-grow text-sm text-right" type="text"
                      placeholder="Username" [(ngModel)]="asset.username">
                    </ion-input>
                  </div>
                </div>
              </div>

              <div class="px-2 py-1">
                <div class="w-full bg-white border overflow-hidden rounded-xl" [ngClass]="[
                  !asset.password ? 'border-error' : 'border-gray-300'
                ]">
                  <div class="w-full p-3 pr-4 flex justify-between items-center space-x-2">
                    <div class="flex justify-start items-center space-x-2">
                      <div class="flex-grow flex flex-col justify-start items-start">
                        <p class="text-sm font-semibold">
                          Password
                        </p>
                      </div>
                    </div>

                    <ion-input class="ion-no-padding min-w-12 flex-grow text-sm text-right"
                      [type]="isPasswordVisible ? 'text' : 'password'" placeholder="Password" clearOnEdit="false"
                      [(ngModel)]="asset.password">
                    </ion-input>

                    <button class="btn btn-ghost btn-xs btn-circle -my-2 -mr-2 text-lg focus:outline-none"
                      (click)="isPasswordVisible = !isPasswordVisible">
                      <ion-icon [name]="isPasswordVisible ? 'eye-outline' : 'eye-off-outline'" color="dark"></ion-icon>
                    </button>
                  </div>
                </div>
              </div>

              <div class="px-2 py-1">
                <div class="w-full bg-white border overflow-hidden rounded-xl" [ngClass]="[
                  !assetStatus.id ? 'border-error' : 'border-gray-300'
                ]">
                  <div class="w-full p-3 pr-4 flex justify-between items-center space-x-2">
                    <div class="flex justify-start items-center space-x-2">
                      <div class="flex-grow flex flex-col justify-start items-start">
                        <p class="text-sm font-semibold">
                          Status
                        </p>
                      </div>
                    </div>

                    <ion-select class="ion-no-padding min-w-12 flex-grow text-sm text-right" interface="alert"
                      [interfaceOptions]="{header: 'Pilih', mode: 'ios'}" placeholder="Pilih" multiple="false"
                      [(ngModel)]="assetStatus.id" cancelText="Batal" okText="Pilih">
                      <ion-select-option *ngFor="let status of selectionStatus" [value]="status.id">
                        {{status.asset_status_name}}
                      </ion-select-option>
                    </ion-select>
                  </div>
                </div>
              </div>
            </ion-col>
          </ion-row>

          <ion-row class="px-2 h-full" *ngIf="dataFormDetailMarkSign">
            <ion-chip color="primary" mode="ios">
              <ion-icon name="pin-outline"></ion-icon>
              <h3>Tanda Pemasangan</h3>
            </ion-chip>

            <ion-col size="12">
              <div class="w-full bg-white border overflow-hidden rounded-xl"
                [ngClass]="[!dataFormDetailMarkSign.unitId ? 'border-error' : 'border-gray-300']">
                <div class="w-full p-3 pr-4 flex justify-between items-center space-x-2">
                  <div class="flex justify-start items-center space-x-2">
                    <div class="flex-grow flex flex-col justify-start items-start">
                      <p class="text-sm font-semibold">
                        Unit
                      </p>
                    </div>
                  </div>
                  <ion-input class="ion-no-padding min-w-12 flex-grow text-sm font-light text-right" type="text"
                    placeholder="Pilih" readonly="true" [(ngModel)]="dataFormDetailMarkSign.unit"
                    (click)="openPicker('unit', selectionUnit, false)"></ion-input>
                </div>
              </div>
            </ion-col>

            <ion-col size="12">
              <div class="w-full bg-white border overflow-hidden rounded-xl"
                [ngClass]="[!dataFormDetailMarkSign.areaId ? 'border-error' : 'border-gray-300']">
                <div class="w-full p-3 pr-4 flex justify-between items-center space-x-2">
                  <div class="flex justify-start items-center space-x-2">
                    <div class="flex-grow flex flex-col justify-start items-start">
                      <p class="text-sm font-semibold">
                        Area
                      </p>
                    </div>
                  </div>

                  <ion-input class="ion-no-padding min-w-12 flex-grow text-sm font-light text-right" type="text"
                    placeholder="Pilih" readonly="true" [(ngModel)]="dataFormDetailMarkSign.area"
                    (click)="openPicker('area', filteredArea, false)"></ion-input>
                </div>
              </div>
            </ion-col>

            <ion-col size="12">
              <div class="w-full bg-white border overflow-hidden rounded-xl" [ngClass]="[
                !dataFormDetailMarkSign.id ? 'border-error' : 'border-gray-300'
              ]">
                <div class="w-full p-3 pr-4 flex justify-between items-center space-x-2">
                  <div class="flex justify-start items-center space-x-2">
                    <div class="flex-grow flex flex-col justify-start items-start">
                      <p class="text-sm font-semibold">
                        Tanda Pemasangan
                      </p>
                    </div>
                  </div>

                  <ion-input class="ion-no-padding min-w-12 flex-grow text-sm font-light text-right" type="text"
                    placeholder="Pilih" readonly="true" [(ngModel)]="dataFormDetailMarkSign.tag_number"
                    (click)="openPicker('mark-sign', filteredMarkSign, false)"></ion-input>
                </div>
              </div>
            </ion-col>

            <ion-chip color="primary" mode="ios">
              <ion-icon name="location-outline"></ion-icon>
              <h3>Lokasi</h3>
            </ion-chip>

            <ion-col size="12">
              <div class="w-full bg-white border overflow-hidden rounded-xl"
                [ngClass]="[!dataFormDetailMarkSign.location ? 'border-error' : 'border-gray-300']">
                <div class="w-full p-3 pr-4 flex justify-between items-center space-x-2">
                  <div class="flex justify-start items-center space-x-2">
                    <div class="flex-grow flex flex-col justify-start items-start">
                      <p class="text-sm font-semibold">
                        Lokasi
                      </p>
                    </div>
                  </div>
                  <ion-input type="text" [disabled]="true"
                    class="ion-no-padding min-w-12 flex-grow text-xs font-normal text-right"
                    *ngIf="dataFormDetailMarkSign" [(ngModel)]="dataFormDetailMarkSign.location">
                  </ion-input>
                </div>
              </div>
            </ion-col>

            <ion-col size="12">
              <div class="w-full bg-white border rounded-xl"
                [ngClass]="[!dataFormDetailMarkSign.location ? 'border-error' : 'border-gray-300']">
                <div class="w-full p-3 pr-4 flex justify-between items-center space-x-2">
                  <div class="flex justify-start items-center space-x-2">
                    <div class="flex-grow flex flex-col justify-start items-start">
                      <p class="text-sm font-semibold">
                        Detail Lokasi
                      </p>
                    </div>
                  </div>
                  <ion-textarea class="ion-no-padding min-w-12 pl-4 flex-grow text-sm font-light text-right"
                    *ngIf="dataFormDetailMarkSign" [(ngModel)]="dataFormDetailMarkSign.detail_location">
                  </ion-textarea>
                </div>
              </div>
            </ion-col>

            <ion-col size="12">
              <div class="w-full bg-white border rounded-xl"
                [ngClass]="[!dataFormDetailMarkSign.location ? 'border-error' : 'border-gray-300']">
                <div class="w-full p-3 pr-4 flex justify-between items-center space-x-2">
                  <div class="flex justify-start items-center space-x-2">
                    <div class="flex-grow flex flex-col justify-start items-start">
                      <p class="text-sm font-semibold">
                        Detail Lokasi
                      </p>
                    </div>
                  </div>
                  <ion-textarea class="ion-no-padding min-w-12 pl-4 flex-grow text-sm font-light text-right"
                    *ngIf="dataFormDetailMarkSign" [(ngModel)]="dataFormDetailMarkSign.detail_location">
                  </ion-textarea>
                </div>
              </div>
            </ion-col>
          </ion-row>
          <br><br>
        </ion-grid>
      </ion-content>
    </ng-template>
  </ion-modal>
  <!-- End modal edit asset -->
</ion-content>