<ion-header class="ion-bo-border shadow fixed" [ngClass]="[isHeaderVisible ? 'fixed-top' : 'above-top']"
  position="fixed">
  <ion-toolbar class="ion-bg-white" color="primary">
    <ion-buttons slot="start" class="p-2" mode="ios">
      <ion-back-button defaultHref="/tabs" color="primary"></ion-back-button>
    </ion-buttons>

    <ion-title class="text-lg font-bold text-center">
      {{ params?.assetCategoryName }}
    </ion-title>
  </ion-toolbar>

  <ion-toolbar class="dark:ion-base-gray-800" color="primary">
    <ion-segment class="W-full bg-primary" [value]="segment" (ionChange)="onSegmentChanged($event)">
      <!-- <ion-segment-button class="font-bold uppercase expanded" value="holded">Holded</ion-segment-button> -->
      <ion-segment-button  *ngIf="listDataScan" class="font-bold capitalize" value="scanned">
        <div class="bg-transparent">
          <ion-label class="tracking-normal">Sudah Di Scan </ion-label>
          <ion-badge color="success" class="align-middle">{{listDataScan.countScanned}}</ion-badge>
        </div>
      </ion-segment-button>
      <ion-segment-button  *ngIf="listDataScan" class="font-bold capitalize" value="unscanned">
        <div class="bg-transparent">
          <ion-label class="tracking-normal">Belum di Scan </ion-label>
          <ion-badge color="danger" class="align-middle">{{listDataScan.countUnscanned}}</ion-badge>
        </div>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>

<ion-content [scrollEvents]="true" (ionScroll)="onScroll($event)">
  <ion-header class="ion-no-border">
    <ion-toolbar class="ion-bg-white">
      <ion-buttons slot="start" class="p-2" mode="ios">
        <ion-back-button defaultHref="/tabs" color="primary"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <div class="pl-6">
    <h4 class="text-2xl font-bold">{{ params?.assetCategoryName }}</h4>
  </div>
  <div class="py-0">
    <ion-toolbar class="ion-bg-white">
      <ion-segment class="w-full" [value]="segment" (ionChange)="onSegmentChanged($event)">
        <!-- <ion-segment-button class="font-bold uppercase" value="scanned">Sudah Di Scan</ion-segment-button>
        <ion-segment-button class="font-bold uppercase" value="unscanned">Belum Di Scan</ion-segment-button> -->

        <ion-segment-button  *ngIf="listDataScan" class="font-bold capitalize" value="scanned">
          <div class="bg-transparent">
            <ion-label class="tracking-normal">Sudah Di Scan </ion-label>
            <ion-badge color="success" class="align-middle">{{listDataScan.countScanned}}</ion-badge>
          </div>
        </ion-segment-button>
        <ion-segment-button  *ngIf="listDataScan" class="font-bold capitalize" value="unscanned">
          <div class="bg-transparent">
            <ion-label class="tracking-normal">Belum di Scan </ion-label>
            <ion-badge color="danger" class="align-middle">{{listDataScan.countUnscanned}}</ion-badge>
          </div>
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </div>

  <div class="w-full pb-24 bg-white">
    <ion-row class="px-4">
      <ion-col size="12">
        <ion-searchbar class="ion-no-margin ion-no-padding text-xs" animated="true" placeholder="Pencarian..."
          inputmode="text" type="text" mode="ios" [(ngModel)]="searchTerm"
          (ionChange)="onSearch($event)"></ion-searchbar>
      </ion-col>
    </ion-row>

    <ion-accordion-group expand="inset" *ngIf="filteredData?.length">
      <ion-accordion [value]="item?.assetName" toggleIcon="chevron-down-circle" *ngFor="let item of filteredData">
        <ion-item slot="header" class="accordion">
          <p class="text-base font-semibold">{{ item?.assetNumber }}</p>
        </ion-item>
        <div class="ion-no-padding" slot="content">
          <ion-row>
            <ion-col size="12" sizeSm="6" sizeXl="4">
              <div class="w-full p-4 bg-white border border-gray-300 rounded-xl">
                <ion-list>
                  <ion-item class="text-xs dark:ion-border-gray-600">
                    <ion-label>Status</ion-label>
                    <ion-badge [color]="segment === 'scanned' ? 'success' : 'danger'" mode="ios" slot="end">
                      {{ segment === 'scanned' ? 'Sudah Di Scan' : 'Belum Di Scan' }}
                    </ion-badge>
                  </ion-item>
                  <ion-item class="text-xs dark:ion-border-gray-600">
                    <ion-label>Nama</ion-label>
                    <ion-input class="text-right" readonly [value]="item?.assetNumber"></ion-input>
                  </ion-item>
                  <ion-item class="text-xs dark:ion-border-gray-600">
                    <ion-label>Kategori</ion-label>
                    <ion-input class="text-right" readonly [value]="item?.assetCategoryName"></ion-input>
                  </ion-item>
                  <ion-item class="text-xs dark:ion-border-gray-600">
                    <ion-label>Unit</ion-label>
                    <ion-input class="text-right" readonly [value]="item?.unit"></ion-input>
                  </ion-item>
                  <ion-item class="text-xs dark:ion-border-gray-600">
                    <ion-label>Area</ion-label>
                    <ion-input class="text-right" readonly [value]="item?.area"></ion-input>
                  </ion-item>
                  <ion-item class="text-xs dark:ion-border-gray-600">
                    <ion-label>Detail Lokasi</ion-label>
                    <ion-textarea class="text-right font-semibold" readonly rows="3" [value]="item?.detailLocation"></ion-textarea>
                    <!-- <ion-input class="text-right" readonly [value]="item?.detailLocation"></ion-input> -->
                  </ion-item>
                </ion-list>
              </div>
            </ion-col>
          </ion-row>
        </div>
      </ion-accordion>
    </ion-accordion-group>
    <div *ngIf="!filteredData?.length">
      <app-screen-view type="no-data" message="Data Kosong" description="Data tidak ditemukan"></app-screen-view>
    </div>
  </div>

  <ion-infinite-scroll *ngIf="filteredData?.length > 10" (ionInfinite)="pushData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles"
      loadingText="Sedang memuat data..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <ion-fab slot="fixed" horizontal="center" vertical="bottom">
    <ion-fab-button (click)="openScanPage()">
      <div
        class="absolute shadow-2xl text-center flex items-center justify-center rounded-full border-4 text-xl border-gray-300 hover:border-blue-500 bg-blue-500 text-white transition ease-in duration-200 "
        style="background: #020281; width: 4.3rem; height: 4.3rem;">
        <ion-icon name="scan-outline" class="text-white" size="large"></ion-icon>
        
      </div>
      <span class="animate-ping absolute inline-flex h-full w-full rounded-full border-4 opacity-50"></span>
    </ion-fab-button>
   
  </ion-fab> 
</ion-content>