<ion-tabs mode="md">
  <div class="flex flex-col items-center  hover:text-blue-400 z-50 " (click)="scanQrCode()">
    <div
      class="absolute bottom-2 shadow-2xl text-center flex items-center justify-center rounded-full border-4 text-xl border-gray-300 hover:border-blue-500 bg-blue-500 p-2 text-white transition ease-in duration-200 "
      style="background: #020281; width: 4.3rem; height: 4.3rem;">
      <ion-icon name="scan-outline" class="text-white" size="large"></ion-icon>
      <span class="animate-ping absolute inline-flex h-full w-full rounded-full border-4 opacity-50"></span>
    </div>
  </div>

  <ion-tab-bar slot="bottom" class="ion-no-border">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="schedules" class="comments">
      <ion-icon name="calendar"></ion-icon>
    </ion-tab-button>

    <svg height="50" viewBox="0 0 100 50" width="100" xmlns="http://www.w3.org/2000/svg">
      <path d="M100 0v50H0V0c.543 27.153
        22.72 49 50 49S99.457 27.153 99.99 0h.01z" fill="red" fill-rule="evenodd"></path>
    </svg>

    <ion-tab-button tab="activity-logs" class="notifs">
      <ion-icon name="receipt"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="settings">
      <ion-icon name="person"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>