<ion-header>
  <ion-toolbar>
    <ion-title>add-cctv</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="p-4">
      <ion-item>
        <ion-label position="floating">CCTV ID</ion-label>
        <ion-input
        type="text"
        labelPlacement="floating" 
        [(ngModel)]="form.cctvId">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">CCTV Nama</ion-label>
        <ion-input
        type="text"
        labelPlacement="floating" 
        [(ngModel)]="form.cctvName">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">CCTV Lokasi</ion-label>
        <ion-input
        type="text"
        labelPlacement="floating" 
        [(ngModel)]="form.cctvLokasi">
        </ion-input>
      </ion-item>
      <ion-item lines="none">
        <button class="bg-lime-200 text-gray-950 px-4 py-2" type="submit" (click)="addCCTV()">Submit</button>
      </ion-item>
  </div>
</ion-content>
