.accordion::part(native) {
  background: #f2f2f2;
  color: #020202;
  border-color: #fff;
  border-width: 2px;
  border-radius: 14px;
  padding-top: 8px;
  padding-left: 20px;
  padding-bottom: 8px;
}
