<ion-header class="ion-bo-border shadow fixed transition-none"
  [ngClass]="[isHeaderVisible ? 'fixed-top' : 'above-top']">
  <ion-toolbar class="ion-bg-white">
    <ion-buttons slot="start" class="p-2" mode="ios">
      <ion-back-button defaultHref="/tabs" color="primary"></ion-back-button>
    </ion-buttons>

    <ion-title class="text-lg font-bold text-center">Jadwal Scan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true" (ionScroll)="onScroll($event)">
  <ion-header class="ion-no-border">
    <ion-toolbar class="ion-bg-white">
      <ion-buttons slot="start" class="p-2" mode="ios">
        <ion-back-button defaultHref="/tabs" color="primary"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <div class="pl-6">
    <h4 class="text-2xl font-bold">Jadwal Scan</h4>
  </div>

  <ion-refresher slot="fixed" mode="md" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <app-screen-view *ngIf="loading" type="loading" message="Loading data ..."></app-screen-view>

  <app-screen-view *ngIf="!loading && !schedules?.length" type="no-data" message="Data Kosong"
    description="Synchronize untuk mendapatkan schedule">
  </app-screen-view>

  <div *ngIf="!loading" class="w-full min-h-full pb-24 bg-white dark:bg-gray-900">
    <ion-grid class="w-full space-y-4">
      <ion-row class="justify-center">
        <ion-col size="12" sizeLg="12">
          <ion-row class="justify-center">
            <ion-col size="12">
              <div class="w-full px-4 mb-2 flex justify-between items-center space-x-2">
                <button class="btn btn-ghost btn-sm font-medium capitalize" (click)="showLastMonth()">
                  <ion-icon name="chevron-back-outline"></ion-icon>
                </button>

                <h2 class="text-center text-xl font-semibold">
                  {{ calendar?.title }}
                </h2>

                <button class="btn btn-ghost btn-sm font-medium capitalize" (click)="showNextMonth()">
                  <ion-icon name="chevron-forward-outline"></ion-icon>
                </button>
              </div>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col class="col-1/7">
              <div class="relative h-12 flex flex-col justify-center items-center">
                <p class="relative z-10 text-center text-xs font-medium">Sun</p>
                <div
                  class="absolute z-0 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-8 h-8 rounded-md">
                </div>
              </div>
            </ion-col>

            <ion-col class="col-1/7">
              <div class="relative h-12 flex flex-col justify-center items-center">
                <p class="relative z-10 text-center text-xs font-medium">Mon</p>
                <div
                  class="absolute z-0 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-8 h-8 rounded-md">
                </div>
              </div>
            </ion-col>

            <ion-col class="col-1/7">
              <div class="relative h-12 flex flex-col justify-center items-center">
                <p class="relative z-10 text-center text-xs font-medium">Tue</p>
                <div
                  class="absolute z-0 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-8 h-8 rounded-md">
                </div>
              </div>
            </ion-col>

            <ion-col class="col-1/7">
              <div class="relative h-12 flex flex-col justify-center items-center">
                <p class="relative z-10 text-center text-xs font-medium">Wed</p>
                <div
                  class="absolute z-0 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-8 h-8 rounded-md">
                </div>
              </div>
            </ion-col>

            <ion-col class="col-1/7">
              <div class="relative h-12 flex flex-col justify-center items-center">
                <p class="relative z-10 text-center text-xs font-medium">Thu</p>
                <div
                  class="absolute z-0 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-8 h-8 rounded-md">
                </div>
              </div>
            </ion-col>

            <ion-col class="col-1/7">
              <div class="relative h-12 flex flex-col justify-center items-center">
                <p class="relative z-10 text-center text-xs font-medium">Fri</p>
                <div
                  class="absolute z-0 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-8 h-8 rounded-md">
                </div>
              </div>
            </ion-col>

            <ion-col class="col-1/7">
              <div class="relative h-12 flex flex-col justify-center items-center">
                <p class="relative z-10 text-center text-xs font-medium">Sat</p>
                <div
                  class="absolute z-0 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-8 h-8 rounded-md">
                </div>
              </div>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col *ngFor="let item of calendar?.daysInLastMonth" class="col-1/7">
              <div class="group relative h-14 flex flex-col justify-center items-center cursor-pointer"
                (click)="showLastMonth(item)">
                <p class="relative z-10 text-gray-500 dark:text-gray-400 text-center text-sm">
                  {{ item.date }}
                </p>

                <div
                  class="absolute z-0 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-8 h-8 group-hover:bg-opacity rounded-md">
                </div>
              </div>
            </ion-col>

            <ion-col *ngFor="let item of calendar?.daysInThisMonth" class="col-1/7">
              <div class="group relative h-14 flex flex-col justify-center items-center cursor-pointer"
                (click)="selectDate(item)">
                <p class="relative z-10 text-center text-sm">{{ item.date }}</p>

                <div
                  class="absolute z-0 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-8 h-8 rounded-md flex justify-center items-end space-x-1"
                  [ngClass]="{'bg-opacity': item.selected}">
                  <div
                    class="absolute left-1/2 -bottom-2 transform -translate-x-1/2 flex justify-center items-center space-x-1">
                    <div *ngIf="item.hasUnscanned" class="w-1 h-1 bg-error rounded-full"></div>
                    <div *ngIf="item.hasRecordHold" class="w-1 h-1 bg-warning rounded-full"></div>
                    <div *ngIf="item.hasUnuploaded" class="w-1 h-1 bg-lime-500 rounded-full"></div>
                    <div *ngIf="item.hasUploaded" class="w-1 h-1 bg-success rounded-full"></div>
                  </div>
                </div>

                <div
                  class="absolute z-0 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-8 h-8 group-hover:bg-opacity rounded-md">
                </div>
              </div>
            </ion-col>

            <ion-col *ngFor="let item of calendar?.daysInNextMonth" class="col-1/7">
              <div class="group relative h-14 flex flex-col justify-center items-center cursor-pointer"
                (click)="showNextMonth(item)">
                <p class="relative z-10 text-gray-500 dark:text-gray-400 text-center text-sm">
                  {{ item.date }}
                </p>

                <div
                  class="absolute z-0 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-8 h-8 group-hover:bg-opacity rounded-md">
                </div>
              </div>
            </ion-col>
          </ion-row>

          <ion-row class="justify-center">
            <ion-col size="12">
              <h2 class="pt-4 px-4 text-center text-lg font-semibold">
                {{ selectedDate?.label }}
              </h2>
            </ion-col>
          </ion-row>

          <!-- <ion-row *ngIf="selectedDate?.lokasi?.length" class="w-full px-4 pt-3 justify-center items-center">
            <ion-accordion-group class="w-full">
              <ion-accordion *ngFor="let shift of dataShiftPerDay" [value]="shift.shift" class="rounded-xl mb-4"
                toggleIcon="chevron-down-circle">
                <ng-container
                  *ngIf="shift.teamData[shift.groupNameData[0].operatorGroupName][1].operatorUserNama === usersData.name || 
                shift.teamData[shift.groupNameData[0].operatorGroupName][0].operatorUserNama === usersData.name || usersData.group === 'ADMIN'">
                  <ion-item slot="header" color="dark">
                    <section class=" py-4">
                      <div class="flex mb-3 text-xs font-semibold">
                        <label class="p-1 px-2 mr-2 bg-primary text-white rounded-full">
                          {{shift.groupNameData[0].operatorGroupName}}
                        </label>
                        <label class="p-1 px-2 mr-2 bg-primary text-white rounded-full">
                          {{shift.shift}}
                        </label>
                      </div>
                      <div class="mb-3 text-sm font-semibold">
                        <h4 class="font-semibold mb-2">
                          <ion-icon slot="icon-only" size="40px" name="person-outline" class="mr-1 pt-1"></ion-icon>
                          Daftar Petugas
                        </h4>
                        <div *ngFor="let dataPetugas of shift.teamData[shift.groupNameData[0].operatorGroupName]">
                          <p class="text-white capitalize ">
                            - {{lowerCaseLetter(dataPetugas.operatorUserNama)}}
                          </p>
                        </div>
                      </div>
                      <div class="absolute top-5 right-5 text-white text-sm align-middle flex place-items-center"  >
                          <div class="p-1 px-2 w-max h-5 flex justify-center items-center rounded-full bg-error ">Total : {{jumlahAssetShift(shift.detailLocationData)}} </div>
                      </div>
                    </section>
                  </ion-item>
                  <div class="ion-padding border border-gray-300 rounded-xl" slot="content">
                    <div class="text-black">
                      <h4 class="text-md font-semibold mb-2">
                        <ion-icon slot="icon-only" size="40px" name="location-outline" class="mr-1 pt-1"></ion-icon>
                        Daftar Lokasi
                      </h4>

                      <ng-container *ngIf="shift.detailLocationData?.length > 0">
                        <div class="text-sm mb-1.5 font-semibold"
                          *ngFor="let dataLocation of shift.detailLocationData; index as idx;">
                          <div class="bg-primary border border-gray-300 rounded-btn p-2 text-white flex justify-between capitalize"
                            (click)="viewAssetsCategory('schedule-lokasi', dataLocation?.assetData, assetCategory)">
                            <div>
                              {{lowerCaseLetter(dataLocation.locationUnitNama)}}
                              - {{dataLocation.locationLokasiDescription}}
                              ({{dataLocation.locationLokasiNama}})
                            </div>
                            <div class="align-middle flex place-items-center">
                                <div class="p-1 w-max h-5 flex justify-center items-center rounded-full bg-error "> {{dataLocation.assetData.length}} </div>
                            </div>
                          </div>
                        </div>
                      </ng-container>
                      <ng-container *ngIf="shift.detailLocationData?.length === 0">
                        <div class="p-4 text-center">
                          <h4 class="font-light text-gray-400">- Tidak ada data -</h4>
                        </div>
                      </ng-container>
                    </div>
                  </div>
                </ng-container>
              </ion-accordion>
            </ion-accordion-group>
          </ion-row> -->

          <ion-row *ngIf="selectedDate?.lokasi?.length" class="w-full px-3 justify-center items-center">  
              <div *ngFor="let shift of dataShiftPerDay" class="rounded-xl w-full">
                  <div class="border bg-slate-100 border-gray-300 rounded-xl w-full p-2"
                  *ngIf="shift.teamData[shift.groupNameData[0].operatorGroupName][1].operatorUserNama === usersData.name || 
                  shift.teamData[shift.groupNameData[0].operatorGroupName][0].operatorUserNama === usersData.name || usersData.group === 'ADMIN'">
                    <div class="text-black">
                      <h4 class="text-base font-semibold mb-2">
                        <ion-icon slot="icon-only" size="40px" name="location-outline" class="mr-1 pt-1"></ion-icon>
                        Daftar Lokasi
                      </h4>
                      <ng-container *ngIf="shift.detailLocationData?.length > 0">
                        <div class="text-sm mb-1.5 font-semibold"
                          *ngFor="let dataLocation of shift.detailLocationData; index as idx;">
                          <div  
                          *ngIf="dataLocation.assetData.length > 0"
                          class="bg-primary border border-gray-300 rounded-btn p-2 text-white flex justify-between capitalize"
                            (click)="viewAssetsCategory('schedule-lokasi', dataLocation?.assetData, assetCategory)">
                            <div>
                              {{lowerCaseLetter(dataLocation.locationUnitNama)}}
                              - {{dataLocation.locationLokasiDescription}}
                              ({{dataLocation.locationLokasiNama}})
                            </div>
                            <div class="align-middle flex place-items-center">
                                <div class="p-1 w-max h-5 flex justify-center items-center rounded-full bg-error "> {{dataLocation.assetData.length}} </div>
                            </div>
                          </div>
                        </div>
                      </ng-container>
                      <ng-container *ngIf="shift.detailLocationData?.length === 0">
                        <div class="p-4 text-center">
                          <h4 class="font-light text-gray-400">- Tidak ada data -</h4>
                        </div>
                      </ng-container>
                    </div>
                  </div>
              </div>
          </ion-row>


          <ion-row *ngIf="!selectedDate.schedules?.length">
            <ion-col size="12">
              <app-screen-view className="space-y-0 pt-0" type="no-data" title="Jadwal Kosong"
                message="Tidak ada jadwal hari ini">
              </app-screen-view>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>