<ion-header class="ion-bo-border shadow fixed" [ngClass]="[isHeaderVisible ? 'fixed-top' : 'above-top']"
  position="fixed">
  <ion-toolbar class="ion-bg-white">
    <ion-buttons slot="start" class="p-2" mode="ios">
      <ion-back-button defaultHref="/tabs" color="primary"></ion-back-button>
    </ion-buttons>

    <ion-title class="text-lg font-bold text-center">
      Laporan Harian
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true" (ionScroll)="onScroll($event)">
  <ion-header class="ion-no-border">
    <ion-toolbar class="ion-bg-white">
      <ion-buttons slot="start" class="p-2" mode="ios">
        <ion-back-button defaultHref="/tabs" color="primary"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <div class="pl-6">
    <h4 class="text-2xl font-bold">Laporan Harian</h4>
  </div>
  <div class="py-0">
    <ion-toolbar class="ion-bg-white">
      <ion-segment class="w-full" [value]="segment" (ionChange)="onSegmentChanged($event)">
        <ion-segment-button  *ngIf="dataBelum" class="font-bold capitalize" value="belum">
          <div class="bg-transparent">
            <ion-label class="tracking-normal">Belum Laporan </ion-label>
            <ion-badge color="danger" class="align-middle">{{dataBelum.length}}</ion-badge>
          </div>
        </ion-segment-button>
        <ion-segment-button  *ngIf="dataSudah" class="font-bold capitalize" value="sudah">
          <div class="bg-transparent">
            <ion-label class="tracking-normal">Sudah Laporan </ion-label>
            <ion-badge color="success" class="align-middle">{{dataSudah.length}}</ion-badge>
          </div>
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </div>
  <div class="w-full pb-24 bg-white">
    <ion-row class="px-4">
      <ion-col size="12">
        <ion-searchbar class="ion-no-margin ion-no-padding text-xs" animated="true" placeholder="Pencarian..."
          inputmode="text" type="text" mode="ios" [(ngModel)]="searchTerm"
          (ionChange)="onSearch($event)"></ion-searchbar>
      </ion-col>
    </ion-row>

    <ion-accordion-group expand="inset" *ngIf="filteredData?.length">
      <ion-accordion [value]="item?.trxParentId" toggleIcon="chevron-down-circle" *ngFor="let item of filteredData">
        <ion-item slot="header" class="accordion">
          <p class="text-base font-semibold"><ion-badge [color]="segment === 'belum' ? 'danger' : 'success'" mode="ios" slot="end">
            {{ segment === 'belum' ? ' ' : ' ' }}
          </ion-badge> Scan {{ item.scannedDate }}</p>
        </ion-item>
        <div class="ion-no-padding" slot="content">
          <ion-row>
            <ion-col size="12" sizeSm="6" sizeXl="4">
              <div class="w-full p-4 bg-white border border-gray-300 rounded-xl">
                <ion-list>
                  <ion-item class="text-xs dark:ion-border-gray-600">
                    <ion-label>Status</ion-label>
                    <ion-badge [color]="segment === 'belum' ? 'danger' : 'success'" mode="ios" slot="end">
                      {{ segment === 'belum' ? 'Belum Laporan' : 'Sudah Laporan' }}
                    </ion-badge>
                  </ion-item>
                  <ion-item class="text-xs dark:ion-border-gray-600">
                    <ion-label>Nama</ion-label>
                    <ion-input class="text-right" readonly [value]="item?.scannedBy"></ion-input>
                  </ion-item>
                  <ion-item class="text-xs dark:ion-border-gray-600">
                    <ion-label>Tanggal Scan</ion-label>
                    <ion-input class="text-right" readonly [value]="item?.scannedDate"></ion-input>
                  </ion-item>
                </ion-list>
                <button class="btn btn-sm btn-primary text-white btn-block rounded-lg space-x-1 focus:outline-none" (click)="openDetail(item?.trxParentId)">
                  <p class="text-xs font-medium capitalize">Detail Pengecekan</p>
                  <ion-icon name="chevron-forward-outline"></ion-icon>
                </button>
              </div>
            </ion-col>
          </ion-row>
        </div>
      </ion-accordion>
    </ion-accordion-group>
    <div *ngIf="!filteredData?.length">
      <app-screen-view type="no-data" message="Data Kosong" description="Data tidak ditemukan"></app-screen-view>
    </div>
  </div>
  <!-- <ion-refresher slot="fixed" mode="md" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher> -->

  <app-screen-view *ngIf="loading" type="loading" message="Loading data ..."></app-screen-view>

</ion-content>
