<div
  *ngIf="!vertical"
  class="relative w-full p-3 rounded-xl flex justify-around
  items-center space-x-1 ion-activatable ripple-parent overflow-hidden
  cursor-pointer" style="background: #e5e7eb;"
  [ngClass]="[
  inverse ? color.bg : 'dark:bg-gray-800',
  type === 'outline' ? 'border border-gray-100' : 'shadow-md'
  ]">
  <div class="flex flex-col justify-center items-center">
    <span class="text-lg font-bold" [ngClass]="{ 'text-white': inverse }">{{
      count
      }}</span>
    <span class="text-xs uppercase" [ngClass]="[inverse ? 'text-white' :
      color.text]">{{
      label
      }}</span>
  </div>

  <ion-icon
    class="text-4xl"
    [ngClass]="[inverse ? 'text-white' : color.text]"
    [name]="icon"></ion-icon>
  <ion-ripple-effect
    *ngIf="ripple"
    style="margin: 0 !important"></ion-ripple-effect>
</div>

<div *ngIf="vertical" class="">
  <div
    class="w-20 h-20 p-2 rounded-full flex flex-col justify-center items-center
    space-y-2 ion-activatable ripple-parent overflow-hidden cursor-pointer"
    style="background: #e5e7eb"
    [ngClass]="[
    inverse ? color.bg : ' dark:bg-gray-800',
    type === 'outline' ? '' : 'shadow-md'
    ]">
    <ion-badge color="danger" mode="ios" class="absolute right-3 top-1"
      *ngIf="count !== undefined">{{ count }}</ion-badge>
    <!-- <button
      class="absolute btn btn-circle btn-xs btn-error rounded-full text-xs
      font-extrabold right-3 top-1"
      *ngIf="count !== undefined">
      {{ count }}
    </button> -->
    <ion-icon
      [ngClass]="[
      inverse ? 'text-white' : color.text,
      large ? 'text-4xl' : 'text-3xl'
      ]"
      [src]="icon">
    </ion-icon>

    <ion-ripple-effect
      *ngIf="ripple"
      style="margin: 0 !important"></ion-ripple-effect>
  </div>

  <div class="pt-3 text-center">
    <!-- <p
      [ngClass]="[
        inverse ? 'text-white' : '',
        large ? 'text-xl font-bold' : 'text-lg font-bold'
      ]"
    >
      {{ count }}
    </p> -->
    <p
      [ngClass]="[
      inverse ? 'text-white' : color.text,
      large ? 'text-xs font-semibold' : 'text-xs font-semibold'
      ]">
      {{ label }}
    </p>
  </div>
</div>
