<ion-header mode="ios">
  <ion-toolbar class="ion-bg-white dark:ion-bg-gray-900">
    <ion-buttons slot="start" mode="md">
      <ion-back-button defaultHref="/tabs" color="primary"></ion-back-button>
    </ion-buttons>

    <ion-title class="text-lg font-semibold">UBAH RFID</ion-title>

    <ion-buttons slot="end" mode="md">
      <ion-button *ngIf="!checkOnly && (nfcStatus === 'NFC_OK' || nfcStatus === 'NFC_DISABLED' || nfcStatus !== 'NO_NFC')" mode="md"
        (click)="scanQrCode()">
        <ion-icon slot="icon-only" name="reload-circle-sharp"></ion-icon>

      </ion-button>
      <ion-button *ngIf="!checkOnly && (nfcStatus === 'NFC_OK' || nfcStatus === 'NFC_DISABLED' || nfcStatus !== 'NO_NFC')" mode="md"
      (click)="showDetails()">
      <ion-icon name="information-circle-outline"></ion-icon>
      </ion-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="w-full min-h-full flex flex-col justify-center items-center">
    <ion-grid class="w-full ion-padding flex flex-col justify-center items-center">
      <ion-row class="justify-center">
        <!-- <div *ngIf="" > -->
         <!-- <h2> {{ this.shared.asset.assetNumber }}</h2> -->
         <!-- <div *ngFor="let par of resultParam;">
          <h2>{{ par.asset_number}}</h2>
         </div> -->
        <!-- </div> -->
        <ion-col size="12">
          <app-screen-view *ngIf="nfcStatus === 'NFC_OK'" type="nfc-scan" message="NFC TERSEDIA"
            description="Dekatkan Perangkat ke RFID">
          </app-screen-view>

          <app-screen-view *ngIf="nfcStatus === 'NFC_DISABLED'" type="preferences" message="NFC DISABLED"
            description="NFC is disabled, go to settings to enable it!" [button]="openSettingsButton">
          </app-screen-view>

          <app-screen-view *ngIf="nfcStatus === 'NO_NFC' || nfcStatus === 'NO_NFC_OR_NFC_DISABLED'" type="qr-scan"
            message="NO NFC" description="NFC is not available at this handheld" [button]="scanQrButton">
          </app-screen-view>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
